
{% extends 'MyTemplatesApp/base.html' %}
{% load static %}

{% load custom_filters %}

{% load humanize %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Wateja Detail Page</title>
    <style type="text/css">
      
        body{
            /*display: flex;*/
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /*background: #333;*/
        }
        .container{
           
            
            /*padding: 80px 40px;*/
            justify-content: center;
            align-items: center;
           
            margin-top: 0px;
            
        }

     .display-text{
        
        background-color: #333;
        /*margin-right: 150px;
        margin-left: 150px;*/
        border-width: 2px;
        border-color: white;
        border: 1px solid white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 10px;
       /* margin: 10px;*/
        
     }
     .display-text-2{
        margin-left: 20px;
        margin-top: 10px;

     }

     .fees-informations{
        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 30px;
     }


    </style>
</head>
<body class="body-container">




 <div class="container">





 

 <div class="container">
    








<!-- mwanzo wa row -->
<div class="row to-style-margin-top" style="width: 100%; display: flex;">


  
  <div class="col-md-4">
     {% if user.is_admin %}
  <a href="{% url 'deleteWatejaWote' queryset.id %}" class="btn btn-danger mb-3"  style="margin-right: 20px;">
                Mfute {{queryset.JinaLaMteja}}</a>
      {% endif %}
    </div>

  <!--   <div class="col-md-6">
    
    <button class="get-started-btn" data-bs-toggle="modal" data-bs-target="#login" style="margin-right: 20px;">
       Mthibitishe {{queryset.username}}</button>
     
    </div>

  -->
  
</div>
<!-- mwisho wa row -->





              {% if messages %}
    {% for message in messages %}
     

          <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: green;">
  <strong style="font-size: 16px;color: white;">{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="color: red;"></button>
</div>
    {% endfor %}
  {% endif %}
                  
     









<!-- mwanzo wa semister 01 -->



  <!-- mwanzo wa row -->
     <div id="semister1-Container" class="row student-informations-container" style="width: 100%;display: nonee;">

      <h2 class="view-header-text" style="">Taarifa za  {{queryset.JinaLaMteja}}</h2>

        {% if queryset %}
        
        <div class="col-md-5 display-text">
            
       {% if queryset.PichaYaMteja %}
         <img src="{{queryset.PichaYaMteja.url}}" class="large-img" style="border-radius: 300px;width: 70px;height: 70px;margin-bottom: 15px;">

         {% else %}

          <img src="{% static 'MyTemplatesApp/assets/img/profile.jpg' %}" class="large-img" style="border-radius: 300px;width: 70px;height: 70px;margin-bottom: 15px;">

          {% endif %}

         <h3 class="maelezo-text-dukalako">Simu : <span class="span-text-dukalako">{{queryset.phoneYaMteja}}</span></h3>

         <h3 class="maelezo-text-dukalako">Email : <span class="span-text-dukalako">{{queryset.emailYaMteja}}</span></h3>
        
        {% if queryset.MkoaWaMteja.JinaLaMkoa %}
         <h3 class="maelezo-text-dukalako">Mkoa : <span class="span-text-dukalako">{{queryset.MkoaWaMteja.JinaLaMkoa}}</span></h3>
         {% endif %}

          {% if queryset.WilayaYaMteja %}
         <h3 class="maelezo-text-dukalako">Wilaya : <span class="span-text-dukalako">{{queryset.WilayaYaMteja}}</span></h3>
         {% endif %}

         {% if queryset.company_name %}
         <h3 class="maelezo-text-dukalako">Kampuni/Biashara Yake : <span class="span-text-dukalako">{{queryset.company_name}}</span></h3>
         {% endif %}

  

       

  

  
   </div>



    <div class="col-md-6 display-text-2">

       
    

     {% if queryset.Created %}
         <h3 class="maelezo-text-dukalako">Siku aliyosajiliwa: <span class="span-text-dukalako">{{queryset.Created}}</span></h3>
         {% endif %}

         {% if queryset.Created %}
         <h3 class="maelezo-text-dukalako">Leo ni siku ya ngapi toka kuwekwa oda: <span class="span-text-dukalako">{{queryset.Created | timesince}}</span></h3>
         {% endif %}

          {% if queryset.SikuYaKupokea_Displayed %}
         <h3 class="maelezo-text-dukalako">Atapokea huduma baada ya siku: <span class="span-text-dukalako">{{queryset.SikuYaKupokea_Displayed}}</span></h3>
         {% endif %}

          {% if queryset.Mzalishaji %}
         <h3 class="maelezo-text-dukalako">Jina La Mtoa Huduma: <span class="span-text-dukalako">{{queryset.Mzalishaji}}</span></h3>
         {% endif %}


          {% if queryset.JinaLaHuduma %}
         <h3 class="maelezo-text-dukalako">Jina La Huduma: <span class="span-text-dukalako">{{queryset.JinaLaHuduma}}</span></h3>
         {% endif %}


          {% if queryset.phone %}
         <h3 class="maelezo-text-dukalako">Namba Ya Mtoa Huduma: <span class="span-text-dukalako">{{queryset.phone}}</span></h3>
         {% endif %}

          {% if queryset.email %}
         <h3 class="maelezo-text-dukalako">Email Ya Mtoa Huduma: <span class="span-text-dukalako">{{queryset.email}}</span></h3>
         {% endif %}


            {% if queryset.Mkoa %}
         <h3 class="maelezo-text-dukalako">Mkoa Wa Mtoa Huduma: <span class="span-text-dukalako">{{queryset.Mkoa}}</span></h3>
         {% endif %}


            {% if queryset.Wilaya %}
         <h3 class="maelezo-text-dukalako">Wilaya Ya Mtoa Huduma: <span class="span-text-dukalako">{{queryset.Wilaya}}</span></h3>
         {% endif %}



   {% if queryset.company_name %}
         <h3 class="maelezo-text-dukalako">Kampuni/Biashara Ya Mtoa Huduma: <span class="span-text-dukalako">{{queryset.company_name}}</span></h3>
         {% endif %}


    
   {% if queryset.TotalAmount %}
         <h3 class="maelezo-text-dukalako">Bei Ya Jumla: <span class="span-text-dukalako">{{queryset.TotalAmount|floatformat:0|intcomma}}/=</span></h3>
         {% endif %}

   {% if queryset.PaidAmount %}
         <h3 class="maelezo-text-dukalako">Kiasi Alicholipa: <span class="span-text-dukalako">{{queryset.PaidAmount|floatformat:0|intcomma}}/=</span></h3>
         {% endif %}


              {% if queryset.RemainedAmount %}
         <h3 class="maelezo-text-dukalako">Kiasi Kilichobakia: <span class="span-text-dukalako">{{queryset.RemainedAmount|floatformat:0|intcomma}}/=</span></h3>
         {% endif %}








     


        </div>

   


<!-- mwazno wa row -->
<div class="row" style="margin-top: 50px;">

<!-- m wa column -->

<div class="col-md-4">
  <button class="get-started-btn" data-bs-toggle="modal" data-bs-target="#login" style="margin-right: 20px;">
       Thibitisha oda ya {{queryset.JinaLaMteja}}</button>
  </div>
  
  <!-- mwisho wa column -->


  <!-- m wa column -->
<!-- {% if queryset.is_checked == True %}
<div class="col-md-4">
  <button class="get-started-btn" data-bs-toggle="modal" data-bs-target="#ondoa" style="margin-right: 20px;">
       Ondoa uthibitisho wa oda ya {{queryset.JinaLaMteja}}</button>
  </div>
  {% endif %} -->
  <!-- mwisho wa column -->


<!-- m wa column -->
{% if queryset.is_checked == False %}
<div class="col-md-4">
  <button class="get-started-btn" data-bs-toggle="modal" data-bs-target="#oda" style="margin-right: 20px;background-color: blue;">
       Ongeza oda ya {{queryset.JinaLaMteja}}</button>
  </div>
    {% endif %}
  <!-- mwisho wa column -->

</div>
<!-- mwisho wa row -->




   {% else %}
   <center>
       <h1 style="font-size: 16px;color: white;font-weight: bold;">Hakuna taarifa yoyote ya {{queryset.username}}</h1>
   </center>

   {% endif %}
         
     </div>
     <!-- mwisho wa row -->




<!-- <hr style="height: 10px;color: white;background-color: red;font-weight: bold;border: 2px solid red;border-width: 2px;">
 -->





<!-- mwisho wa semister ya 01 -->













<!-- Modal  for SIGNUP BUTTON -->


<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> MFUGAJI SMART </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 22px;">

        
         <div class="login">
    <h2 style="font-size: 18px;font-family: sans-serif;">Chagua 'YES' kuthibitisha taarifa za {{queryset.JinaLaMteja}}</h2>
    
     

      <div class="user-box">
        <!-- <input type="text" name="username" required>
        <label>Jina Kamili</label> -->

        {{form.is_checked}}
      </div>

     

      

     <!--  <p><input type="checkbox">Remember me <span>Forgot?</span></p> -->

        <a href="" class="link-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>



       <!--  <button type="submit"  style="background-color: green;color: white;padding: 10px;padding-right: 20px;padding-left: 20px;font-size: 20px;border-radius: 10px;">Thibitisha</button> -->
      </a>

     <!--  <div class="options-02">
                    <p>You don't have an account? <a href="" style="font-size: 18px;color: lightblue;font-weight: bold;text-decoration: none;">Sign Up</a></p>
                </div> -->
    
  </div>

</div> 
<!-- mwisho wa modal-body -->


      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="font-size: 18px;margin-right: 20px;">Kubali</button>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="font-size: 18px;">Funga</button>




             </div>
             </form>
    </div>
  </div>
</div>
<!--MWISHO WA  Modal  for SIGNUP BUTTON -->





<!-- Modal  for ONDOA BUTTON -->


<div class="modal fade" id="ondoa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> MFUGAJI SMART </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 22px;">

        
         <div class="login">
    <h2 style="font-size: 18px;font-family: sans-serif;">Chagua 'NO' kuondoa uthibitisho wa oda ya {{queryset.JinaLaMteja}}</h2>
    
     

      <div class="user-box">
        <!-- <input type="text" name="username" required>
        <label>Jina Kamili</label> -->

        {{form.is_checked}}
      </div>

     

      

     <!--  <p><input type="checkbox">Remember me <span>Forgot?</span></p> -->

        <a href="" class="link-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>



       <!--  <button type="submit"  style="background-color: green;color: white;padding: 10px;padding-right: 20px;padding-left: 20px;font-size: 20px;border-radius: 10px;">Thibitisha</button> -->
      </a>

     <!--  <div class="options-02">
                    <p>You don't have an account? <a href="" style="font-size: 18px;color: lightblue;font-weight: bold;text-decoration: none;">Sign Up</a></p>
                </div> -->
    
  </div>

</div> 
<!-- mwisho wa modal-body -->


      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="font-size: 18px;margin-right: 20px;">Ondoa</button>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="font-size: 18px;">Funga</button>




             </div>
             </form>
    </div>
  </div>
</div>
<!--MWISHO WA  Modal  for SIGNUP BUTTON -->







<!-- Modal  for SIGNUP BUTTON -->


<div class="modal fade" id="oda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'WatejaWoteOngezaOda' queryset.id %}" enctype="multipart/form-data">
        {% csrf_token %}

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> MFUGAJI SMART </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 22px;">

        
         <div class="login">
    <h2 style="font-size: 18px;font-family: sans-serif;">Sogeza mbele taarifa za {{queryset.JinaLaMteja}}</h2>
    
     

      <div class="user-box">
        <input type="text" name="OngezaOda" required>
        <label>Jina Kamili</label>

        <!-- {{form.OngezaOda}} -->
      </div>

     

      

     <!--  <p><input type="checkbox">Remember me <span>Forgot?</span></p> -->

        <a href="" class="link-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>



       <!--  <button type="submit"  style="background-color: green;color: white;padding: 10px;padding-right: 20px;padding-left: 20px;font-size: 20px;border-radius: 10px;">Thibitisha</button> -->
      </a>

     <!--  <div class="options-02">
                    <p>You don't have an account? <a href="" style="font-size: 18px;color: lightblue;font-weight: bold;text-decoration: none;">Sign Up</a></p>
                </div> -->
    
  </div>

</div> 
<!-- mwisho wa modal-body -->


      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="font-size: 18px;margin-right: 20px;">Kubali</button>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="font-size: 18px;">Funga</button>




             </div>
             </form>
    </div>
  </div>
</div>
<!--MWISHO WA  Modal  for SIGNUP BUTTON -->


























     </div>
     <!-- mwisho wa container -->
 




</div>

<script>
</script>
</body>
</html>

{% endblock %}
