{% extends 'App/base2.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1><span style="color: red;">OSS,</span> <br>Overdose Stores System</h1>
      <h2> <span style="color: wheat;font-size: 16px;font-weight: bold;"> Our System </span> </h2>
      
    </div>
  </section><!-- End Hero -->









<main id="main">











</main>




</body>
</html>

{% endblock %}